@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

html {
    font-family: "Montserrat", sans-serif;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}
